footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 7%;
    display: grid;

   // background-color:#4d4d4dc7;
   // box-shadow: 5px 4px 50px 23px #4D4D4D;
   // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.589));
    align-items: center;
    
   
    .inner-footer{
        text-align: center;
        // background-color:#000000c7;
  box-shadow: 5px 4px 50px 23px #000000;
        background: rgba(0, 0, 0, 0.137);
//background: radial-gradient(circle, rgba(0,0,0,0.7906512946975666) 0%, rgba(0,0,0,0.8354692218684349) 35%, rgba(0,0,0,0.7234244039412641) 100%);
        margin: 0 2%;
        .dot{
            width: 5px;
            height: 5px;
            border-radius: 50px;
            background-color: #000;
            display: inline-block;
           // display: inline-block;
           } 
        }
    }
   
