#search-page-container{
   #search-page-inner-container{
       background-color: blue;
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
       grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
       gap: 10px;
       
       div{
        &.ran {
            grid-column-end: span 2;
            
            }
         .search-img{
           width: 100%;
       }  
       }
       
       
   }
} 